.owl-prev,
.owl-next {

    position: absolute!important;
    background-color: transparent!important;
    border: 0!important;
    color: transparent!important;
    outline: none!important;

    cursor: pointer!important;

    background-size: contain!important;
    background-repeat: no-repeat!important;
}
.owl-next {
    background-image: url('../assets/icons/left-arrow.png')!important;
}
.owl-prev {
    background-image: url('../assets/icons/right-arrow.png')!important;
}

.owl-dots {
    width: 100px!important;
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
}
.owl-dot {
    width: 12px!important;
    height: 12px!important;
    border: 1px solid #000000!important;
    border-radius: 50%!important;
}
.owl-dot.active {
    width: 15px!important;
    height: 15px!important;
    background-color: #000000!important;
}
