*
{
    box-sizing: border-box;
}

body
{
    font-weight: normal;

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    color: #000;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: 85% center;
    background-size: cover;
}

img
{
    max-width: 100%;
}

.container
{
    padding: 0 calc(50% - 45vw);
}

.header
{
    font-family: 'Roboto', sans-serif;

    padding-top: 2.5vh;
}

.header__block
{
    display: grid;

    grid-template-columns: 20% 80%;
    grid-template-rows: 55% 30%;
    grid-template-areas: 'logo social' 'logo time';
}

.header__logo
{
    grid-area: logo;
}

.header__social
{
    text-align: right;

    grid-area: social;
}

.social__vk
{
    display: inline-block;
}

.social__vk a img
{
    transition: .3s;
}

.social__vk a:hover img
{
    transform: scale(1.2);
}

.social__inst
{
    display: inline-block;

    margin-left: 10px;
}

.social__inst a img
{
    transition: .3s;
}

.social__inst a:hover img
{
    transform: scale(1.2);
}

.social__tel
{
    display: inline-block;

    margin-left: 10px;

    vertical-align: super;
}

.tel__img
{
    display: inline-block;

    vertical-align: middle;
}

.social__tel a
{
    font-size: 24px;
    line-height: 28px;

    transition: .3s;
    text-decoration: none;

    color: #000;
}

.social__tel a:hover
{
    text-decoration: underline;
}

.header__time
{
    font-size: 18px;
    line-height: 21px;

    text-align: right;

    grid-area: time;
}

.main
{
    font-family: 'Montserrat', sans-serif;

    margin-top: 9.2105263157894736842105263157895vh;

    background-image: url(../images/main_decor.png);
    background-repeat: no-repeat;
    background-position: 98% top;

    flex: auto;
}

.main__social
{
    display: none;
}

.main__title h1
{
    font-size: 55px;
    font-weight: 800;
    line-height: 67px;

    margin: 0;
}

.main__title_yellow
{
    color: #faff00;
}

.main__title h2
{
    font-size: 40px;
    font-weight: 500;
    line-height: 49px;

    margin: 0;
}

.main__subtitle h2
{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
}

.main__btn
{
    margin-top: 40px;
}

.main__btn button
{
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;

    padding: 19px 76px;

    cursor: pointer;
    transition: .3s;

    border: none;
    border-radius: 5px;
    background: #faff00;
}

.main__btn button:hover
{
    box-shadow: 25px 6px 50px rgba(250, 255, 0, 1);
}

.main__features
{
    margin-top: 45px;

    justify-content: space-between;
}

.feature__text
{
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;

    display: inline-block;
}

.main__features div:nth-child(2)
{
    margin-left: 18px;
}

.feature__text:before
{
    display: inline-block;

    width: 31.64px;
    height: 30px;

    content: '';

    background: url('../images/check_mark.svg') no-repeat bottom;
}

.footer
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;

    padding-top: 6.3157894736842105263157894736842vh;
    padding-bottom: 2.8947368421052631578947368421053vh;

    flex-shrink: 0;
}

.footer__block
{
    display: flex;

    justify-content: space-between;
}

.footer__made-with-love
{
    text-align: right;
}

.footer__private-policy
{
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.footer__private-policy button:hover
{
    font-size: 16px;
}

.footer__private-policy button
{
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;

    display: block;

    cursor: pointer;

    border: none;
    background-color: transparent;

    text-decoration-line: underline;
}

.close-button
{
    position: relative;
    left: 107%;

    display: inline-block;
}

.close-button button
{
    cursor: pointer;

    border: none;
    background-color: transparent;
}

.close-button button img
{
    transition: .3s;
}

.close-button button img:hover
{
    transform: scale(1.2);
}

.overlay
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .15;
    background-color: #000;
}

.private-policy__title
{
    font-size: 32px;
    font-weight: bold;

    text-align: center;
}

.private-policy__block p
{
    font-size: 18px;
}

.quiz,
.private-policy
{
    font-family: 'Montserrat', sans-serif;

    position: relative;
    z-index: 3;
    left: calc(50% - 30.927835051546391752577319587629vw);

    display: none;

    width: 61.855670103092783505154639175258vw;
    min-height: 500px;
    padding: 40px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
}

.private-policy
{
    font-family: Roboto;

    position: absolute;
    top: 5%;
}

.quiz__progress
{
    position: absolute;
    top: 36px;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 13px;
}

.quiz__progress progress
{
    position: absolute;
    left: -777px;

    overflow: hidden;

    width: 0;
    height: 0;
}

.progress-bar
{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    height: 100%;

    background-color: #faff00;
}

.progress-bg
{
    position: relative;

    overflow: hidden;

    height: 13px;

    border: 1px solid #cfcccc;
    background: transparent;
}

@keyframes progress_bar
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: -40px 0;
    }
}

.progress-bar
{
    transition: width 1s linear;
}

.quiz-page
{
    display: none;
}

.quiz-page__title h3,
.quiz-page__subtitle h4
{
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;

    margin: 0;

    text-align: center;
}

.quiz-page__subtitle h4
{
    font-size: 18px;
}

.quiz__answers-block
{
    position: absolute;
    left: 33%;

    display: inline-block;

    margin-top: 30px;
}

.quiz__answer label
{
    cursor: pointer;
}

.quiz-answer__radio
{
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.answer__text
{
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;

    position: relative;

    display: block;
    display: inline-block;

    margin-top: 22px;
    padding-left: 35px;

    cursor: pointer;
    transition: .3s;
}

.answer__text::before,
.answer__text::after
{
    position: absolute;

    display: inline-block;

    content: '';
}

.answer__text::before
{
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;

    border: 1px solid #3a3a3a;
    border-radius: 50px;
    background: #fff;
}

.answer__text::after
{
    top: 5px;
    left: 5px;

    width: 15px;
    height: 15px;

    border-radius: 50px;
    background-color: #121212;
}

.quiz-answer__radio + label .answer__text::after
{
    content: none;
}

.quiz-answer__radio:checked + label .answer__text::after
{
    content: '';
}

.quiz-answer__radio:focus + label .answer__text::before
{
    outline: rgb(59, 153, 252) auto 5px;
}

.quiz__answer label:hover .answer__text
{
    font-size: 24px;
}

.quiz-page__btn
{
    display: none;
}

.quiz__btn
{
    display: flex;

    margin-top: 38px;

    justify-content: center;
}

.quiz__next-button
{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;

    display: inline-block;

    margin: 0 auto;
    margin-top: 11vh‬;
    padding: 18px 76px;

    color: #000;
    border: none;
    border-radius: 5px;
    background: #faff00;
    box-shadow: 0 6px 20px rgba(255, 255, 255, .6);
}

.quiz__next-button:hover
{
    box-shadow: 25px 6px 50px rgba(250, 255, 0, .5);
}

.quiz__next-button
{
    cursor: pointer;
}

.quiz-page__subtitle h4
{
    font-size: 20px;
    line-height: 24px;

    margin-top: 19px;
}

.quiz-page__subtitle span
{
    font-size: 16px;
    line-height: 20px;
}

.quiz-answer__form
{
    display: flex;
    flex-direction: column;
}

.quiz-page__form label
{
    font-size: 0;

    display: block;

    margin-top: 8vh;
}

.quiz-page__form input
{
    font-family: Roboto;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;

    box-sizing: border-box;
    width: 280px;
    height: 40px;
    padding: 6px;

    text-align: center;

    color: rgba(0, 0, 0, .4);
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

.quiz-page__form input[type='tel']
{
    display: block;

    margin: 0 auto;
}

.thankyou-page__title
{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;

    margin: 100px 0;

    text-align: center;
}

#tomain_button
{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;

    display: block;

    margin: 0 auto;
    padding: 10px 40px;

    cursor: pointer;

    color: #000;
    border: none;
    border-radius: 5px;
    background: #faff00;
    box-shadow: 0 6px 20px rgba(255, 255, 255, .6);
}

#tomain_button:hover
{
    box-shadow: 25px 6px 50px rgba(250, 255, 0, .5);
}

@media screen and (max-width: 1600px)
{
    .main
    {
        background-image: url(../images/main_decor-1300.png);
    }
}

@media screen and (max-width: 1300px)
{
    body
    {
        background-image: url(../images/bg-1300.jpg);
    }

    .main
    {
        background-image: url(../images/main_decor-tablet.png);
    }
}

@media screen and (min-width: 1024px) and (min-height: 630px)
{
    body
    {
        height: 100vh!important;
    }
}

@media screen and (max-width: 1024px)
{
    body
    {
        height: 100%;

        background-image: url(../images/bg-tb.png);
    }

    .main
    {
        background: none;
    }
}

@media screen and (max-width: 768px)
{
    .header__block
    {
        grid-template-rows: 30px 18px;
    }

    .header__social
    {
        text-align: right;
    }

    .social__tel
    {
        font-weight: 500;
    }
    .social__tel a
    {
        font-size: 24px;
        line-height: 28px;
    }

    .main__title h1
    {
        font-size: 46px;
        font-weight: bold;
        line-height: 56px;

        margin: 0;
    }

    .main__title
    {
        margin-bottom: 28px;
    }

    .main__subtitle h2
    {
        font-family: Roboto;
        font-size: 36px;
        font-weight: normal;
        line-height: 44px;
    }

    .main__title span
    {
        color: #000;
    }

    .main__btn
    {
        margin-top: 45px;

        text-align: center;
    }

    .main__features
    {
        margin-top: 63px;

        text-align: center;
    }

    .main__features div:nth-child(2)
    {
        margin-left: 0;
    }

    .feature__text
    {
        display: block;
    }

    .footer
    {
        flex-shrink: auto;
    }

    .footer__block
    {
        flex-direction: column-reverse;
    }

    .footer__copyright
    {
        margin-top: 13px;

        text-align: center;
    }

    .footer__made-with-love
    {
        text-align: center;
    }

    .footer__private-policy
    {
        margin-top: 10px;

        text-align: center;
    }

    .footer__private-policy button
    {
        display: block;

        margin: 0 auto;

        cursor: pointer;

        border: none;
        background-color: transparent;
    }

    .private-policy__title h3
    {
        font-size: 26px;
        font-weight: bold;

        text-align: center;
    }

    .private-policy__block p
    {
        font-size: 14px;
    }

    .quiz,
    .private-policy
    {
        left: 2%;

        width: 98%;
    }

    .quiz-page__title h3
    {
        font-size: 22px;
        line-height: 27px;
    }

    .quiz-page__subtitle h4
    {
        font-size: 19px;
        line-height: 23px;
    }

    .quiz-page__subtitle span
    {
        font-size: 15px;
        line-height: 18px;
    }

    .quiz__progress
    {
        position: absolute;
        top: 40px;
    }

    .quiz-page__title,
    .quiz-page__subtitle
    {
        padding-top: 55px;
    }

    .quiz-page__subtitle
    {
        font-size: 12px;

        padding-top: 0;
    }

    .quiz__answer
    {
        box-sizing: border-box;
        padding: 8px 0;
    }

    .quiz-answer__radio:checked + .answer__text
    {
        font-size: 16px;
    }

    .answer__text
    {
        font-size: 18px;
        line-height: 22px;

        margin-top: 9px;
    }

    .quiz__next-button
    {
        margin: 0 auto;
    }

    .quiz-page__form label
    {
        display: flex;
        flex-direction: column;
    }

    .thankyou-page__title
    {
        margin: 0;
        padding-top: 0;
    }

    #tomain_button
    {
        width: 100%;
        margin-top: 100px;
    }
}

@media screen and (max-width: 576px)
{
    body
    {
        height: auto;

        background-repeat: no-repeat;
    }

    .social__tel a
    {
        font-size: 20px;
        line-height: 23px;
    }
}

@media screen and (max-width: 480px)
{
    body
    {
        background: url('../images/bg-mob.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .header__block
    {
        grid-template-rows: 35px 18px;
    }

    .header__social .social__vk,
    .header__social .social__inst
    {
        display: none;
    }

    .main__title,
    .main__subtitle
    {
        text-align: center;
    }

    .main__title h1
    {
        font-size: 32px;
        line-height: 39px;

        margin: 0;
    }

    .main__title h2
    {
        font-size: 25px;
        line-height: 30px;

        margin-top: 23px;
    }

    .main__subtitle h2
    {
        font-size: 18px;
        line-height: 22px;
    }

    .main__btn button
    {
        font-size: 20px;
        line-height: 23px;
    }

    .main__features
    {
        margin-top: 33px;
    }

    .main__social
    {
        font-size: 0;

        display: block;

        margin-top: 28px;

        text-align: center;
    }

    .footer
    {
        padding-top: 47px;
    }

    .close-button
    {
        top: -40px;
        left: 90%;
    }

    .quiz,
    .private-policy
    {
        left: 0;

        width: 100%;
        padding: 20px;
    }

    .private-policy
    {
        top: 0;

        min-height: 100%;
    }

    #close_ppbutton
    {
        top: 0;
    }

    .main.container
    {
        padding: 0;
    }

    .quiz__answers-block
    {
        left: 7%;

        display: flex;
        flex-direction: column;

        margin-top: 29px;
    }

    .quiz__next-button
    {
        width: 100%;
        margin: 0;
    }

    .quiz-page__title h3,
    .quiz-page__subtitle h4
    {
        font-size: 20px;
        line-height: 24px;
    }

    .quiz-page__form input[type='tel']
    {
        margin: 0;
    }

    .thankyou-page__title
    {
        margin: 0;
        padding-top: 0;
    }
}
