.form {
    width: 370px;
height: 317px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

background: #2F54D9;
border-radius: 16px;

padding: 20px 0 46px;

    // .form__text

    &__text {
        font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 27px;

text-align: center;

color: #FFFFFF;
    }  

    input,
    &__submit {
        width: 214px;
height: 30px;

background: #FFFFFF;
border-radius: 8px;

font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 27px;

text-align: center;

color: #1A1A1A;
outline: none;

    }
    input {
        text-align: left;
        padding: 0 15px;
        border: 0;
    }

    input::-webkit-input-placeholder { text-align: center; }
   input:-ms-input-placeholder { text-align: center; }
   input::-ms-input-placeholder { text-align: center; }
   input::placeholder { text-align: center; } 

    &__submit {
background: #FBE628;
border: 0;
cursor: pointer;

    }
    &__submit:hover {
        background-color: #1A1A1A;
        color: #FBE628;
    }
}


@media(max-width: 576px) {
    .form {
        width: 345px;
    
    padding: 16px 0;
    
        input,
        &__submit {
            
            width: 297px;
    height: 42px;
        }
    }

}
