.gains {
    padding: 40px 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-items: flex-start;
        }
    
        // .gains__item
    
        &__item {
            width: 230px;
            color: #FF2C00;
        }
    
        // .gains__number
    
        &__number {
            font-family: "Lato";
            font-style: normal;
    font-weight: bolder;
    font-size: 6.4rem;
    line-height: 77px;
    
    text-align: left;
        }
    
        // .gains__text
    
        &__text {
            font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 36px;
    
            // .gains__text--min
    
            &--min {
                font-size: 1.8rem;
            }
        }
    }

    
    @media (max-width: 1200px) {
        .gains {
            padding: (24px/375px)*100vw 0 (32px/375px)*100vw;
                .container {
                    flex-direction: column;
                    align-items: center;
                }
            
                &__item {
                    width: (345px/375px)*100vw;
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;

                    border: 1px solid;
                }
            
                &__number {
                    font-size: 4.8rem;
        line-height: (58px/375px)*100vw;
                }
        
            
                &__text {
                    width: (230px/375px)*100vw;
                    width: (228px/375px)*100vw;
                    font-size: 2.2rem;
        line-height: (36px/375px)*100vw;
        
        padding-left: (20px/375px)*100vw;
            
                    &--min {
                        width: (230px/375px)*100vw;
                        font-size: 1.8rem;
                        padding-left: 0;
                        margin-top: -3vw;
                    }

                    border: 1px solid;
                }
            }
            
    }