@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto_regular-webfont.ttf');
}
@font-face {
    font-family: "Roboto Bold";
    src: url('../fonts/roboto_bold-webfont.ttf');
}

html {
    font-family: "Roboto";
    font-size: 10px;
}

h1,
h2 {
    font-family: "Roboto Bold";
    @include fontStyle(3.6rem, 50px, 700);
    text-transform: uppercase;
}

h2 {
    margin: 0;
    padding: 0 0 50px;
}

h3 {
    @include fontStyle(1.8rem, 25px, 700);
}

.header {
    font-family: "Roboto";
    @include fontStyle(1.4rem, 16px, 400);
    color: #ffffff;
}

@media (max-width: 1200px) {
    h2 {
        padding: 0 0 40px;
    }
}

@media (max-width: 1024px) {
    h2 {
        padding: 0 0 35px;
    }
}