@media (max-width: 1200px) {
    .internet {
        padding: (24px/375px)*100vw 0 (32px/375px)*100vw;

        margin-top: (40px/375px)*100vw;
        .container {
            padding: 0;
        }
        
    h2 {
        font-size: 1.8rem;
    }
        &__banner {
            height: (400px/375px)*100vw;

            background-image: url('../assets/images/banner-2-mob.jpeg');
           
    
            @include marginTop(8px);
            margin-bottom: (16px/375px)*100vw;
        }
    
        h3 {
            @include marginTop(16px);
        }
    
        
            p {
                
    font-size: 1.4rem;
    @include lineHeight(21px);
    
            }
    
            &__text {
                @include marginTop(24px);
        
    }
    
    .test-drive {
    
    
        &__content {
           
    /*display: flex;
    justify-content: space-between;
    align-items: center; */
position: relative;

        }
    
    
        &__info {
            @include width(345px);
            p {

    font-size: 1.4rem;
    @include lineHeight(21px);
    
    
    @include marginTop(21px);
            }
        }
    
    
        &__img {
            @include width(345px);
            position: absolute;
            top: 17vw;
            opacity: 0.3;
        }
    
        &__button {
            @include width(345px);
            @include height(42px);
            
    
    @include lineHeight(21px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: (16px/375px)*100vw auto 0;
    
        }
    }
    .our-works {

        h3 {
            font-size: 1.8rem;
            text-align: center;
        }
    
        &__items {
            @include marginTop(16px);
        }
    
        &__item {
    
            flex-direction: column;
    
            border: 0;
    
    padding: 0;
    
    margin-top: 0;
        }

    
        &__img {
            @include width(345px);
        }
    
        &__info {
            
    font-size: 1.2rem;
    
    
    @include lineHeight(18px);
    
    h3 {
        @include marginTop(16px);
        text-align: left;

        margin-bottom: (14px/375px)*100vw;
    }
    
        }
    
        &__button {
            
            @include width(345px);
            @include height(42px);
            
    
    @include lineHeight(21px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: (16px/375px)*100vw auto 0;

    display: none;
    
    
        }

        &__button-mobile {
            @include width(345px);
            @include height(42px);
        
    
    display: flex;
    justify-content: center;
    align-items: center;
            

        background: #098DCE;
border-radius: 8px;
border: 2px solid #098DCE;

font-style: normal;
font-weight: bold;
font-size: 1.8rem;
@include lineHeight(21px);

color: #FFFFFF;
cursor: pointer;


margin: (16px/375px)*100vw auto 0;

&:hover {
    background: #ffffff;
    color: #098DCE;
}
        }
    }
    }
}