@font-face {
    font-family: "Roboto Bold";
    src: url('../assets/fonts/Roboto\ Bold.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto\ Regular.ttf');
}

html {
    font-family: "Roboto";
    font-size: 10px;
}
h1,
h2 {
    font-style: normal;
font-weight: 500;
font-size: 3.6rem;
line-height: 42px;

color: #222222;
}

h1 {
    margin-top: 0;
}

h3 {
    font-style: normal;
font-weight: 500;
font-size: 2.4rem;
line-height: 28px;

color: #222222;
}

h4,
h4 a {
    font-style: normal;
font-weight: 500;
font-size: 1.4rem;
line-height: 16px;

color: #222222;
}

@media (max-width: 1200px) {
    html {
        font-size: (10px/375px)*100vw;
    }
    h1,
    h2 {
        font-size: 2.4rem;
line-height: (28px/375px)*100vw;
    }
    h3,
    h4 {
        font-size: 1.4rem;
line-height: (21px/375px)*100vw;
    }
.internet h2 {
    font-size: 1.8rem;
    letter-spacing: -0.5px;
}
}

