@import 'typography';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main-screen {
    padding-bottom: 80px;
    @media (orientation: portrait) {
        height: 806px;
    }
    @media (orientation: landscape) {
        height: 100vh;
    }
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;


    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
		// .header__logo

		&__logo {
            width: 156px;
		}

		// .header__service

		&__service {
            //max-width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

        // .header__tel
        &__tel {
            position: relative;
            left: -70px;
        }

        &__tel a,
        &__mail a {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
		}

		// .header__tel-img

        &__tel-img,
        &__mail-img {
            width: 24px;
            position: relative;
            left: -10px;
		}
}

.main {
    
display: flex;
justify-content: space-between;

flex-wrap: wrap;
margin-top: 150px;
    // .main__title

    &__title {
        p {
            max-width: 506px;
            font-style: normal;
font-weight: normal;
font-size: 2.4rem;
line-height: 38px;

color: #FFFFFF;
margin-top: 50px;
span {
    color: #DD3535;
    color: #FBE628;
}
    }
        }

        &__subtitle {
            
            font-family: "Roboto Bold";
            font-style: normal;
font-weight: bold;
font-size: 4.8rem;
line-height: 56px;

color: #FFFFFF;

margin: 83px auto 0;

        }
        
    }

.form {
    width: 370px;
height: 317px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

background: #2F54D9;
border-radius: 16px;

padding: 20px 0 46px;

    // .form__text

    &__text {
        font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 27px;

text-align: center;

color: #FFFFFF;
    }  

    input,
    &__submit {
        width: 214px;
height: 30px;

background: #FFFFFF;
border-radius: 8px;

font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 27px;

text-align: center;

color: #1A1A1A;
outline: none;

    }
    input {
        text-align: left;
        padding: 0 15px;
        border: 0;
    }

    input::-webkit-input-placeholder { text-align: center; }
   input:-ms-input-placeholder { text-align: center; }
   input::-ms-input-placeholder { text-align: center; }
   input::placeholder { text-align: center; } 

    &__submit {
background: #FBE628;
border: 0;
cursor: pointer;

    }
    &__submit:hover {
        background-color: #1A1A1A;
        color: #FBE628;
    }
}

.second-screen {
    padding: 80px 0;


    &__buttons {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin: 20px auto 0;
    }
    &__single-button {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    // .second-screen__button

    &__button {
        width: 214px;
height: 30px;

background: #FBE628;
border-radius: 8px;
border: 0;
outline: none;
cursor: pointer;

font-style: normal;
font-weight: normal;
font-size: 1.4rem;
line-height: 27px;

text-align: center;

color: #1A1A1A;

    }
    &__button:hover {
background-color: #1A1A1A;
color: #FBE628;

    }
}
.block-1 {
    width: 80%;
display: flex;
justify-content: space-between;
margin: 0 auto;
    // .block-1__item

    &__item {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 250px;

        h3 {
            height: 56px;
            display: flex;
            align-items: center;
        }
        p {
            max-width: 218px;
            padding: 0 10px;
            margin-top: 20px;
        }
    }

    // .block-1__img

    &__img {
        width: 90px;
        display: flex;
        justify-content: center;

        margin-top: 40px;
    }
}

.block-2 {
    h2 {
        max-width: 722px;
        margin: 60px auto 30px;
    }
    // .block-2__items

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    // .block-2__item

    &__item {
        max-width: 370px;
    }

    // .block-2__img

    &__img {
        max-width: 370px;
        img {
border-radius: 16px;
        }
    }
}

.block-3 {
    background-image: url('../assets/images/image-4.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    h2 {
        width: 800px;
        margin: 60px auto 30px;
    }

    // .block-3__row

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // .block-3__row--arrow
        &--arrow {
            margin-top: 25px;
        }

        p {
            margin: 0;
            max-width: 600px;
            text-align: left;
margin-left: 20px;

        }
    }
}
p.text {
    // .text--red

    &--red {
        font-weight: bold;
color: #DD3535;
    }

    &--long {
        max-width: 700px;
    }
}
.arrow-img {
    width: 48px;
    
}

.empty-block {
    width: 48px;
}

.final-screen {
    padding: 80px 0;
    background-color: #2F54D9;
    // .final-screen__block

    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .final-screen__text

    &__text {
        max-width: 600px;
        font-style: normal;
font-weight: normal;
font-size: 2.4rem;
line-height: 38px;

color: #FFFFFF;

span {
    color: #48F245;
}
    }

    // .final-screen__form

    &__form {

        font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 27px;

text-align: center;

color: #1A1A1A;
        input {
            width: 370px;
height: 53px;

background: #FFFFFF;
border-radius: 8px;
border: 0;
outline: none;
text-align: left;

padding: 0 15px;
        }
        input[name="phone"],
        button[type="submit"] {
            margin-top: 20px;
        }

        input::-webkit-input-placeholder { text-align: center; }
   input:-ms-input-placeholder { text-align: center; }
   input::-ms-input-placeholder { text-align: center; }
   input::placeholder { text-align: center; } 
    }

    // .final-screen__submit

    &__submit {
        width: 370px;
height: 53px;

background: #FBE628;
border-radius: 8px;
border: 0;
outline: none;

cursor: pointer;
    }
    &__submit:hover {
        background-color: #1A1A1A;
        color: #FBE628;
    }
}


.footer {
    padding: 50px 0 100px;
background-image: url('../assets/images/background-footer.png');
background-size: cover;
background-repeat: no-repeat;
&__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    // .footer__left

    &__left a {
        font-style: normal;
font-weight: bold;
font-size: 1.8rem;
line-height: 21px;

color: #1A1A1A;
    }

    // .footer__logo

    &__logo {
        width: 156px;
    }

    // .footer__tel
    &__tel,
    &__mail {
        margin-top: 24px;
    }

    &__tel a,
    &__mail a {
        display: flex;
    }

    // .footer__tel-img

    &__tel-img,
    &__mail-img {
        width: 24px;
    }

    // .footer__tel-text
    // .footer__mail-text

    &__tel-text,
    &__mail-text {
        position: relative;
        left: 10px;
    }

    // .footer__center
    // .footer__right

    &__center,
    &__right {
        font-style: normal;
font-weight: bold;
font-size: 1.8rem;
line-height: 21px;

color: #FFFFFF;
    }
    &__center {
        width: 242px;
    }
}

    
@media (max-width: 1200px) {
    .container {
        max-width: 960px;

    }

    .block-2 {
        
        &__item {
            max-width: 300px;
        }
        &__img {
            max-width: 300px;
        }
    } 
    
    }

    @media (max-width: 992px) {
        .container {
            max-width: 720px;
        }

        .main-screen {
            @media (orientation: portrait) {
                height: 915px;
            }
            @media (orientation: landscape) {
        
                height: 915px;
            }
            
        }
        
        
        .main {
           margin-top: 15px;
        
            &__title {
                p {
                    max-width: 650px;
            }
                }
        &__subtitle {
            margin: 0;
        }
            }
        
        .form {
            order: 1;
            margin-top: 50px;
        }
        
        .second-screen {
           
            &__button {
                width: 150px;
        height: 50px;
        
        
        line-height: 18px;
        
            }
            
        }
        
        
        .block-3 {
            background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/images/image-4.png');
            background-position: bottom;
            background-repeat: no-repeat;
            h2 {
                max-width: 700px;
                
            }
        
        }
        
        .final-screen {
            
        
            &__block {
                flex-direction: column;
            }
        
    
        
            &__text {
                max-width: 650px;
                text-align: center;
            }
        
            &__form {
        margin-top: 50px;
            }
        }
        
        
        .footer {
            
        &__block {
            flex-direction: column;
        }
        
            &__logo {
                margin: 0 auto;
            }
        
            &__tel a,
            &__mail a {
                justify-content: center;
            }
        
    
            &__center,
            &__right {
                margin-top: 40px;
                text-align: center;
            }
        }
        
    }

    @media (max-width: 768px) {

        .container {
            max-width: 540px;
            
        }
        
        .main-screen {
            padding-bottom: 80px;
            
                height: 600px * 1.55;
        
        }
        
        .header {
        

                &__tel {
                    
                    left: -40px;
                }
        
                &__tel-text,
                &__mail-text {
                    display: none;
                    
                }
        
        
                &__tel-img,
                &__mail-img {
                    
                    left: 0;
                }
        }
        
        .main {
        margin-top: 0;
            &__title {
                p {
                    max-width: 500px;
            }
                }
        
                &__subtitle {
                    
        
        font-size: 3.8rem;
        
                }
                
            }
        
        
        .second-screen {

            &__buttons {
                width: 100%;
                padding: 0;
                margin: 20px 0 0;
                justify-content: center;
            }
        
            &__button {
                width: 214px;
        height: 30px;
        
        line-height: 27px;

        &--mobile-none {
            display: none;
        }
        
            }

        }
        .block-1 {
            width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
            &__item {
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                max-width: 450px;
        
                p {
                    max-width: 450px;
                }
            }
        }
        
        .block-2 {
            h2 {
                max-width: 450px;
            }
        
            &__items {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
        
        }
        
        .block-3 {
            
            h2 {
                width: 450px;
            }
        }


    }

    @media (max-width: 576px) {
        .container {
            max-width: 345px;
        }

        .main-screen {
            padding-bottom: 20px;
            
                height: 730px;
        
        }

        .main {
            h1 {
                text-align: center;
            }
            
                &__title {
                    p {
                        max-width: 345px;
                        
            font-size: 1.8rem;
            line-height: 27px;
            
            margin-top: 20px;
            
                }
                    }
            
                    &__subtitle {
                        
                        
            font-size: 2.2rem;
            line-height: 26px;
            
    
            
            margin: 20px 0 0;
            
                    }
                    
                }


                .form {
                    width: 345px;
                
                padding: 16px 0;
                
                    input,
                    &__submit {
                        
                        width: 297px;
                height: 42px;
                    }
                

                }

                .second-screen {
                    padding: 32px 0;


                    &__button {
                        width: 345px;
                height: 48px;
                
                
                
                
                font-size: 1.8rem;
                line-height: 48px;
                
                
                margin-top: 32px;
                    }
                }

                .block-1 {
                    
                
                    &__item {
                        
                        max-width: 345px;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                
                        h3 {
                            width: 345px;
                            display: flex;
                            justify-content: center;
                            
                        }
                        p {
                            max-width: 218px;
                            padding: 0;
                            margin-top: 20px;
                            text-align: left;
                        }
                    }
                
                
                    &__img {
                        width: 90px;
                        display: flex;
                        justify-content: center;
                
                        margin-top: 20px;
                    }
                }


                .block-2 {
                    h2 {
                        width: 345px;
                        margin: 30px auto 10px;
                    }
                
                    &__item {
                        max-width: 345px;
                        margin-top: 10px;
                    }
                
                    // .block-2__img
                
                    &__img {
                        max-width: 345px;
                        img {
                border-radius: 16px;
                        }
                    }
                }

                .block-3 {
                    background-size: contain;
                    background-position: center;
                    h2 {
                        width: 345px;
                        margin: 30px auto 20px;
                    }
                
                    &__row {
                        
                        &--arrow {
                            margin-top: 25px;
                        }
                
                        p {
                            margin: 0;
                            max-width: 345px;
                            line-height: 21px;
                margin-left: 0;
                
                        }
                    
                
                }
                }
                .arrow-img,
                .empty-block {
                    display: none;
                }


                .final-screen {
                    padding: 32px 0;
                    
                
                    &__text {
                        max-width: 345px;
                        
                font-size: 1.8rem;
                line-height: 27px;
                
                
                    }
                
                    &__form {
                
                        
                        input {
                            width: 345px;
                
                        }
                
                }

                &__submit {
                    width: 345px;
            
                }
                }
                
                .footer {
                    padding: 32px 0;
                background-image: url('../assets/images/background.jpg');
                
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/background.jpg');
                
                    &__left a {
                        
                
                color: #ffffff;
                    }
                    &__tel {
                        margin-top: 25px;
                    }
                    &__mail {
                        margin-top: 10px;
                    }
                    &__center {
                        width: 242px;
                        
                        margin-top: 32px;
                    }
                    &__right {
                        width: 242px;
                        text-align: center;
                        margin-top: 20px;
                    }
                }
                
    }
    div.modal-content {
        background-color: transparent;
        border: 0;
    }
    div.modal-header {
        border: 0;
    }
    div.modal-body form {
        margin: 0 auto;
    }
    .modal-header button.close {
        width: 30px;
        height: 30px;
        
        background-image: url('../assets/images/close.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        cursor: pointer;
    }
    #modalSuccess .modal-content,
    #modalError .modal-content {
        background-color: #FFFFFF;
        font-family: "Roboto";

        h3 {
            span {
                color: #DD3535;
            }
        }

        p {
            font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 27px;
text-align: center;
        }
        button {
            font-size: 1.4rem;
            border: 1px solid;
        }
    }

    @media (max-width: 576px) {
        .modal-dialog,
        .modal-content,
        .modal-body {
            margin-left: 0!important;
            margin-right: 0!important;
        }
    }











